html, body {
  min-height: 100%
}

.container {
  height: 90%;
}

.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

body { background: #58ACFA; }
th { text-align: center; }
td { text-align: center; }

table.table-bordered {
    border: solid orange 5px;
}

.btn {
  width: 100% !important;
  font-size: 150%;
  font-weight: bold;
}

#wynik{
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
    'Lucida Typewriter', monospace;
  font-size: 200%;
  font-weight: bold;
  text-align: right;
}
